extends ../layout

block content
  div
    h1 전체 글 목록
  table
    tbody
      each post in posts
        tr
          td: a(href="/posts/"+post.shortId)= post.title
          td= post.author
          td= formatDate(post.createdAt)
  a(href="/posts?write=true"): button 등록하기